<div class="form-content" ng-show="tab==4">
        <h2>Assets Details</h2>
        <form ng-submit="submitForm('assetsForm')">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label>Category</label>assetCat
                   <select class="form-control" ng-options="assetCat.id as assetCat.description for assetCat in assetCat" ng-model="assetCat.CategoryType.id" />

                    
                </div>
                <div class="col-sm-12 col-md-6">
                    <<label>If Category Other</label>
                        <input class="form-control" type="text">
                </div>
            </div>
    
            <div class="building-section">
                <!--<h4>Building</h4>-->
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label>Building ID</label>
                        <input class="form-control" type="text" ng-model="assetDetail.building.BuidingId">
                    </div>
                    <div class="col-sm-12 col-md-6">
                            <label>Description of Incident</label>
                            <textarea class="form-control" ng-model="assetDetail.building.buildingDesc"></textarea>
                        </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12 col-md-6 row">
                        <div class="col-sm-10">
                                <label>Postal Code:</label>
                                <input class="form-control" type="text" ng-model="assetDetail.building.buildingDesc"> 
                                <!-- <input class="form-control small-control" type="text"> --> 
                        </div>
                        <div class="col-sm-2" style="padding-top:1.7em;">
                                <a href="#" class="btn btn-primary">Lookup</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label>Address 1</label>
                        <input name="" class="form-control" type="text" ng-model="assetDetail.building.address1">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label>Address 2</label>
                        <input name="" class="form-control" type="text" ng-model="assetDetail.building.address2">
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label>City</label>
                        <input class="form-control" type="text" ng-model="assetDetail.building.city">
                    </div>
    
                    <div class="col-sm-12 col-md-4">
                        <label>County</label>
                        <input class="form-control" type="text" ng-model="assetDetail.building.country">
                    </div>
    
                 
                </div>
            </div>
            
            <div class="equipment-section">
                <!--<h4>Equipment</h4>-->
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label>Equipment ID</label>
                        <input class="form-control" type="text" ng-model="assetDetail.equipment.equipmentId">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label>Serial No</label>
                        <input class="form-control" type="text" ng-model="assetDetail.equipment.equipmentNo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Equipment Details</label>
                        <textarea class="form-control" ng-model="assetDetail.equipment.equipmentDetail"></textarea>
                    </div>
                </div>		
            </div>
            
    
            <div class="vehicle-section">
                <!--<h4>Vehicle Registration ID</h4>--> 
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        
                        <div class="col-sm-10">
                                <label>Vehicle Registration ID </label>
                                <input class="form-control" type="text" ng-model="assetDetail.vehicle.vehicleId">
                        </div>
                        <div class="col-sm-2" style="padding-top:1.7em">
                                <a href="#" class="btn">Look up</a>
                        </div>
                        
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>Engine Number</label>
                        <input class="form-control" type="text" ng-model="assetDetail.vehicle.engNum">
                    </div>
    
                    <div class="col-sm-12 col-md-4">
                        <label>Chasis Number</label>
                        <input class="form-control" type="text" ng-model="assetDetail.vehicle.chasisNum">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label>Make</label>
                        <input class="form-control" type="text" ng-model="assetDetail.vehicle.make">
                    </div>
    
                    <div class="col-sm-12 col-md-4">
                        <label>Model</label>
                        <input class="form-control" type="text" ng-model="assetDetail.vehicle.model">
                    </div>
                    <div class="col-sm-12 col-md-4">
                            <label>Vehicle Damage Details</label>
                            <multiselect ng-model="distinguishFeatures" options="options">
                                </multiselect>
                    </div>
                </div>
    
              
                <div class="row">
                    <div class="col-sm-12">
                        <label>Comments</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <label>assetWitness</label>
                    <select class="form-control" ng-model="assetDetail.anyassetWitness">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div ng-if="assetDetail.anyassetWitness == 'Y'">
            <h4 class="form-title">assetWitness</h4>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label>Title:</label>
                    <select class="form-control" ng-model="assetWitness.title">
                        <option value="">--Select--</option>
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Ms</option>
                        <option>Miss</option>
                        <option>Master</option>
                </select>
                </div>
                <div class="col-sm-12 col-md-3">
                    <label>First Name:</label>
                    <input class="form-control" placeholder="First Name" type="text" ng-model="assetWitness.firstName">
                </div>
                <div class="col-sm-12 col-md-3">
                    <label>Middle Name:</label>
                    <input class="form-control" placeholder="Middle Name" type="text" ng-model="assetWitness.middleName">
                </div>
                <div class="col-sm-12 col-md-3">
                    <label>Last Name:</label>
                    <input class="form-control" placeholder="Last Name" type="text" ng-model="assetWitness.lastName">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label>Address</label>
                    <input name="" class="form-control" type="text" ng-model="assetWitness.addresses[0].organizationName">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>Street</label>
                    <input name="" class="form-control" type="text" ng-model="assetWitness.addresses[0].streetName">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label>City</label>
                    <input class="form-control" type="text" ng-model="assetWitness.addresses[0].city">
                </div>

                <div class="col-sm-12 col-md-4">
                    <label>County</label>
                    <input class="form-control" type="text" ng-model="assetWitness.addresses[0].county">
                </div>

                <div class="col-sm-12 col-md-4">
                    <label>Country</label>
                    <input class="form-control" type="text" ng-model="assetWitness.addresses[0].country">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 row">
                    <div class="col-sm-10">
                        <label>Postal Code:</label>
                        <input class="form-control" type="text" ng-model="assetWitness.addresses[0].postcode">
                        <!-- <input class="form-control small-control" type="text"> -->
                    </div>
                    <div class="col-sm-2" style="padding-top:1.7em;">
                        <a class="btn btn-primary">Lookup</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>Phone</label>
                    <input class="form-control" type="text" ng-model="assetWitness.phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label>Age</label>
                    <input type="number" class="form-control" ng-model="assetWitness.age" />
                </div>

                <div class="col-sm-12 col-md-6">
                    <label>Gender</label>
                    <select class="form-control" ng-options="genderType.id as genderType.description for genderType in genderType" ng-model="assetWitness.genderType.id"
                    />
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4 col-sm-12">
                    <label>Distinguishing Features</label>
                    <multiselect ng-model="assetWitness.distinguishingFeature" options="$parent.distinguishFeatures" id-prop="id" display-prop="description">
                    </multiselect>
                </div>
                <div class="col-md-4 col-sm-12">
                    <label>Distinguishing Features Details</label>
                    <multiselect ng-model="assetWitness.distinguishingFeatureDetail" options="$parent.distinguishFeaturesDetailsOptions" id-prop="id" display-prop="description">
                    </multiselect>
                </div>
                <div class="col-md-4 col-sm-12">
                    <label>Please Specify If others</label>
                    <input ng-model="assetWitness.otherDistinguishFeatures" class="form-control" />
                </div>
            </div>
         
              <div class="row">
            <div class="col-sm-12 col-md-4">
             <a class="btn btn-primary" ng-click="addAssetWitness()">Add Witness</a>
            </div>
                <div class="col-sm-12 col-md-4">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Existing Witness</a>
            </div>
                <div class="col-sm-12 col-md-4">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Add Employee Witness</a>
            </div>
        </div>
               
                <div id="tblassetWitness" class="table-wrapper inline" style="display: none;">
                    <table class="table">
                        <thead>
                            <tr><th>Name</th><th>Email</th><th>Phone</th><th>Statement</th></tr>
                        </thead>
                        <tbody>
                              <tr ng-repeat="person in assetDetail.newWitnesses">
                        <td>{{person.firstName}} {{person.LastName}}</td>
                        <td>{{person.age}}</td>
                        <td>{{person.genderType.id}}</td>
                        <td>{{person.addresses[0].organizationName}}</td>
                        <td>{{person.addresses[0].city}}</td>
                        <td>{{person.addresses[0].county}}</td>
                        <td>{{person.addresses[0].postcode}}</td>
                    </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                        <div class="col-sm-6">
                            <label>Statement</label>
                            <input class="form-control" type="file">
                        </div>
                 </div>
                 <div class="row">
                     <div class="col-sm-12">
                            <button class="btn btn-primary">Continue</button>
                            <a class="btn" ng-click="submitForm('assetsForm',true)">Back</a>
                            <a class="btn" ng-click="changeTab(5)">Skip</a>
                     </div>
                        
                    </div>
        </form>
        
    </div>
    <div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Existing Witness Lookup</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <label>Existing Witness</label>
                        <div class="input-group">
                            <input class="form-control" ng-change="witnessLookup(existingWitness)" placeholder="Type user name" ng-model="existingWitness" ng-model-options="{'debounce':500}"/>

                            <span class="input-group-addon" ng-click="witnessLookup(existingWitness)">
                        <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Email</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="person in witnessData">
                                <td><input type="checkbox" class="checkbox checkbox-primary" ng-model="person.selected" ng-click="addAssetExistingWitness(person)" /></td>
                                <td>{{person.firstName}} {{person.LastName}}</td>
                                <td>{{person.age}}</td>
                                <td>{{person.genderTypeCode}}</td>
                                <td>{{person.phone}}</td>
                                <td>{{person.email}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
              
            </div>
            <div class=" modal-footer ">


                <a class="btn btn-danger" class="close " data-dismiss="modal">Close</a>
            </div>
        </div>

    </div>
</div>
<div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Employee Witness Lookup</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <label>Employee Witness</label>
                        <div class="input-group">
                            <input class="form-control" ng-change="userLookup(employeeWitness)" placeholder="Type user name" ng-model="employeeWitness" ng-model-options="{'debounce':500}"/>
                            <span class="input-group-addon" ng-click="userLookup(employeeWitness)">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Mail</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="person in userInfo">
                                <td><input type="checkbox" class="checkbox checkbox-primary" ng-model="person.selected" ng-click="addAssetEmployeeWitness(person)" />
                                </td>
                                <td>{{person.firstName}} {{person.LastName}}</td>
                                <td>{{person.age}}</td>
                                <td>{{person.genderTypeCode}}</td>
                                <td>{{person.phone}}</td>
                                <td>{{person.email}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
           
            </div>
            <div class=" modal-footer ">


                <a class="btn btn-danger " class="close " data-dismiss="modal">Close</a>
            </div>
        </div>

    </div>
</div>
    
    