<div class="form-content" ng-show="tab==3">
    <h4>Accident Details</h4>
    <form ng-submit="submitForm('accidentForm')">

        <!-- <div class="body-part"></div> -->
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label>Date of Accident: (DD/MM/YYYY)</label>
                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input class="form-control" type="text">
                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div><label>Time of Incident:</label></div>
                <input class="form-control small-control" type="text" placeholder="HH">:
                <input class="form-control  small-control" type="text" placeholder="MM">
            </div>
            <div class="col-md-4 col-sm-12">
                <div><label>Place of Incident:</label></div>
                <input class="form-control" type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label>Accident Location:</label>
                <select class="form-control" ng-model="acidentDetails.incidentLocation.id" ng-options="incidentLoc.id as incidentLoc.description for incidentLoc in incidentLocations">
                    <option value=''>Select</option>
                </select>

            </div>
            <div class="col-md-6 col-sm-12">
                <label>Accident Location Details:</label>

                <select ng-model="acidentDetails.incidentLocationDetail.id" class="ddropdown form-control" ng-disabled="!acidentDetails.incidentLocation.id"
                ng-options="incidentLocationDetail.id as incidentLocationDetail.description for incidentLocationDetail in ((incidentLocations | filter:{'id':acidentDetails.incidentLocation.id})[0].incidentLocationDetails) ">
                <option value=''>Select</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Nearest Landmark:</label>
                <input class="form-control" type="text">
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Accident Type</label>
                <select class="form-control">
                        <option>Natural</option>
                        <option>Accident</option>
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Accident Description:</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
       
        <h4 class="form-title">Injured Person</h4>
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <label>Injured Person Type</label>
                <select class="form-control">
						<option>Select</option>
						<option>Customer</option>
						<option>Supplier</option>
						<option>Employee</option>
						<option>3rd Party</option>
						<option>Other</option>
					</select>
            </div>
            <div class="col-sm-12 col-md-6">
                <label>If Injured Person Type Other:</label>
                <input name="" class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>Type of injury</label>
                <select ng-model="injuredPerson.injuryType.id" class="form-control" ng-options="injuryType.id as injuryType.description for injuryType in injuryTypes">
					<option value="">--Select--</option>
				</select>
            </div>

            <div class="col-sm-12 col-md-4">
                    <label>Injury Type Detail</label>
                    <select  class="ddropdown form-control" ng-model="injuredPerson.injuryTypeDetail.id"
                    ng-disabled="!injuredPerson.injuryType.id"
                    ng-options="injuryTypeDetail.id as injuryTypeDetail.description for injuryTypeDetail in ((injuryTypes | filter:{'id':injuredPerson.injuryType.id})[0].injuryTypeDetails) ">
                    <option value=''>Select</option>
                    </select>
            </div>

            <div class="col-sm-12 col-md-4">
                    <label>Injury Type Detail</label>
                    <select  class="ddropdown form-control" ng-model="injuredPerson.injuryTypeDetailsSpec.id"
                    ng-disabled="!injuredPerson.injuryTypeDetail.id"
                    ng-options="injuryTypeDetailsSpec.id as injuryTypeDetailsSpec.description for injuryTypeDetailsSpec in ((injuryTypes | filter:{'id':injuredPerson.injuryType.id})[0].injuryTypeDetails.injuryTypeDetailSpecs) ">
                    <option value=''>--Select--</option>
                    </select>
            </div>

        </div>

         <div class="row">
            <div class="col-sm-12">
                <label>Cause of Injury</label>
                <select class="form-control">
                        <option>Weather</option>
                        <option>Spill</option>
                        <option>Goods</option>
                        <option>Cardboard</option>
                        <option>Ladders</option>
                        <option>Steps</option>
                        <option>Stool</option>
                        <option>Environmental</option>
                        <option>Chemical</option>
                        <option>Fire</option>
                        <option>Electrical</option>
                        <option>Other</option>
                    </select>

            </div>
           
        </div> 

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <label>Title:</label>
                <select class="form-control">
							<option>Select</option>
							<option>Mr</option>
							<option>Mrs</option>
							<option>Ms</option>
							<option>Miss</option>
							<option>Master</option>
						</select>
            </div>
            <div class="col-sm-12 col-md-3">
                <label>First Name:</label>
                <input class="form-control" placeholder="First Name" type="text">
            </div>
            <div class="col-sm-12 col-md-3">
                <label>Middle Name:</label>
                <input class="form-control" placeholder="Middle Name" type="text">
            </div>
            <div class="col-sm-12 col-md-3">
                <label>Last Name:</label>
                <input class="form-control" placeholder="Last Name" type="text">
            </div>
            <div class="col-sm-12 col-md-1" style="padding-top:1.7em">
                <button class="btn btn-primary">Lookup</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Address</label>
                <input name="" class="form-control" type="text">
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Street</label>
                <input name="" class="form-control" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>City</label>
                <input class="form-control" type="text">
            </div>

            <div class="col-sm-12 col-md-4">
                <label>County</label>
                <input class="form-control" type="text">
            </div>

            <div class="col-sm-12 col-md-4">
                <label>Country</label>
                <input class="form-control" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Postal Code</label>
                <input class="form-control" type="text">
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Phone</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Age</label>
                <input type="number" class="form-control">
            </div>
            <div class="com-sm-12 col-md-6">
                <label>Gender:</label>
                <select class="form-control" ng-options="genderType.id as genderType.description for genderType in genderType" ng-model="suspect.genderType.id"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label>Any first aid given</label>
                <select class="form-control">
					<option value="Y">Yes</option>
					<option value="N">No</option>
				</select>
            </div>
            <div class="col-md-6 col-sm-12">
                <label>Witness</label>
                <select class="form-control">
                    <option value=""--Select--></option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label>Part of body injured</label>
                <select ng-model="sbodyPart" ng-change="openBodyPartModal(sbodyPart)" class="form-control">
                    <option value=""--Select--></option>
                    <option value="Y">Yes</option>
                    <option value="N">No </option>
                </select>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-primary" id="addAnotherInjuredPerson">Add Injured Person</a>
            </div>
        </div>

        <div id="tblInjuredPersons" class="table-wrapper inline">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>County</th>
                        <th>Postcode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MA</td>
                        <td>22</td>
                        <td>ss</td>
                        <td>sds</td>
                        <td>sfdds</td>
                        <td>sf</td>
                        <td>sdsa</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 class="form-title">Witness</h4>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <label>Title:</label>
                <select class="form-control">
                    <option>Select</option>
                    <option>Mr</option>
                    <option>Mrs</option>
                    <option>Ms</option>
                    <option>Miss</option>
                    <option>Master</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-3">
                <label>First Name:</label>
                <input class="form-control" placeholder="First Name" type="text">
            </div>
            <div class="col-sm-12 col-md-3">
                <label>Middle Name:</label>
                <input class="form-control" placeholder="Middle Name" type="text">
            </div>
            <div class="col-sm-12 col-md-3">
                <label>Last Name:</label>
                <input class="form-control" placeholder="Last Name" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Address</label>
                <input name="" class="form-control" type="text">
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Street</label>
                <input name="" class="form-control" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>City</label>
                <input class="form-control" type="text">
            </div>

            <div class="col-sm-12 col-md-4">
                <label>County</label>
                <input class="form-control" type="text">
            </div>

            <div class="col-sm-12 col-md-4">
                <label>Country</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 row">
                <div class="col-sm-10">
                    <label>Postal Code:</label>
                    <input class="form-control" type="text">
                    <!-- <input class="form-control small-control" type="text"> -->
                </div>
                <div class="col-sm-2" style="padding-top:1.7em;">
                    <a href="#" class="btn btn-primary">Lookup</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Phone</label>
                <input class="form-control" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Age</label>
                <input type="number" class="form-control"/>
            </div>

            <div class="col-sm-12 col-md-6" style="padding-top:1.7em">
                <label>Gender</label>
                <select class="form-control" ng-options="genderType.id as genderType.description for genderType in genderType" ng-model="suspect.genderType.id"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-primary" id="addAnotherWitness">Add Witness</a>
            </div>
        </div>

        <div id="tblWitness" class="table-wrapper inline" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Statement</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" ng-click="changeTab(4)">Continue</button>
                <a class="btn" ng-click="submitForm('accidentForm',true)">Back</a>
                <!-- <a class="btn" ng-click="changeTab(4)">Skip</a> -->
            </div>

        </div>
    </form>
    <div id="bodyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Body Parts</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>Part of body injured</label>

                            <multiselect ng-model="partsSelected" options="bodyPart" ng-change="putImagePointer(partsSelected)">
                            </multiselect>

                            <!--<multiselect ng-model="distinguishFeatures" options="options">
                            </multiselect>-->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Other Part of body injured</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div id="man">
                        <div ng-repeat="d in bodyPart">
                            <span ng-class="d" ng-if="partsSelected.includes(d)">
                            </span>
                        </div>

                    </div>


                </div>
                <div class=" modal-footer ">


                    <a class="btn btn-danger" class="close " data-dismiss="modal">Close</a>
                </div>
            </div>

        </div>
    </div>
</div>