<div class="form-content" ng-show="tab==2">
    <h2>Incident Details</h2>
    <form ng-submit="submitForm('incidentDetailsForm')">


        <div class="row">
            <div class="col-md-6 col-sm-12">

                <label>Incident Status</label>
                <input type="text" class="form-control" ng-model="incident.incidentStatus" readonly/>

            </div>
        </div>
        <h3 class="form-title">Suspect</h3>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Suspect Type</label>
                <select class="form-control" ng-options="suspectType.id as suspectType.description for suspectType in suspectType" ng-model="suspect.suspectType.id" />


            </div>
            <div class="col-sm-12 col-md-6" ng-if="suspect.suspectType.id=='OTHER'">
                <label>Suspect Type If Other</label>
                <input name="" class="form-control" type="text" placeholder="If Suspect Others" ng-model="suspect.suspectType.description">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <label>Title:</label>
                <select class="form-control" ng-model="suspect.title">
                                <option>Mr</option>
                                <option>Mrs</option>
                                <option>Ms</option>
                                <option>Miss</option>
                                <option>Master</option>
                            </select>
            </div>
            <div class="col-md-3 col-sm-12">
                <label>First Name:</label>
                <input class="form-control" type="text" ng-model="suspect.firstName">
            </div>
            <div class="col-md-3 col-sm-12">
                <label>Middle Name:</label>
                <input class="form-control" type="text" ng-model="suspect.middleName">
            </div>
            <div class="col-md-3 col-sm-12">
                <label>Last Name:</label>
                <input class="form-control" type="text" ng-model="suspect.lastName">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>Address</label>
                <input name="" class="form-control" type="text" ng-model="suspect.addresses[0].organizationName">
            </div>
            <div class="col-sm-12 col-md-4">
                <label>Building</label>
                <input name="" class="form-control" type="text" ng-model="suspect.addresses[0].buildingName">
            </div>
            <div class="col-sm-12 col-md-4">
                <label>Street</label>
                <input name="" class="form-control" type="text" ng-model="suspect.addresses[0].streetName">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Locality </label>
                <input class="form-control" type="text" ng-model="suspect.addresses[0].localityName">
            </div>

            <div class="col-sm-12 col-md-6">
                <label>	Post Town</label>
                <input class="form-control" type="text" ng-model="suspect.addresses[0].postTown">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>City</label>
                <input class="form-control" type="text" ng-model="suspect.addresses[0].city">
            </div>

            <div class="col-sm-12 col-md-4">
                <label>County</label>
                <input class="form-control" type="text" ng-model="suspect.addresses[0].county">
            </div>

            <div class="col-sm-12 col-md-4">
                <label>Country</label>
                <input class="form-control" type="text" ng-model="suspect.addresses[0].country">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <label>Postal Code</label>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="suspect.addresses[0].postcode">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                </div>

            </div>
            <div class="col-sm-12 col-md-6">
                <label>Phone</label>
                <input class="form-control" type="text" ng-model="suspect.phone">
            </div>
        </div>
        <div class="row">


            <div class="col-sm-12 col-md-6">
                <label>Age</label>
                <input class="form-control" type="text" ng-model="suspect.age" />
            </div>

            <div class="col-sm-12 col-md-6">
                <div><label>Gender</label></div>
                <select class="form-control" ng-options="genderType.id as genderType.description for genderType in genderType" ng-model="suspect.genderType.id" />
                <!--<input name="gender" type="radio"> <span>Male</span>
                <input name="gender" type="radio"> <span>Female</span>-->
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-4 col-sm-12">
                <label>Distinguishing Features</label>
                <select multiple ng-model="suspect.distinguishingFeature" class="form-control"
                ng-options="feature as feature.description for feature in distinguishFeatures">
                </select>
            </div>
            <div class="col-md-4 col-sm-12">
                <label>Distinguishing Features Details</label>
                <select multiple ng-model="suspect.distinguishingFeatureDetail" class="form-control"
                ng-options="fd as fd.description for fd in distinguishFeaturesDetailsOptions">
                </select>
            </div>
            <div class="col-md-4 col-sm-12">
                <label>Please Specify If others</label>
                <select  multiple ng-model="suspect.distinguishingFeatureDetails" class="form-control"></select>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label>Distinguishing Features</label>
                <multiselect ng-model="suspect.distinguishingFeature" options="$parent.distinguishFeatures" id-prop="id" display-prop="description">
                </multiselect>
            </div>
            <div class="col-md-4 col-sm-12">
                <label>Distinguishing Features Details</label>
                <multiselect ng-model="suspect.distinguishingFeatureDetail" options="$parent.distinguishFeaturesDetailsOptions" id-prop="id" display-prop="description">
                </multiselect>
            </div>
            <div class="col-md-4 col-sm-12" ng-disabled="suspect.distinguishingFeatureDetail != 'OTHER'">
                <label>Please Specify If others</label>
                <input ng-model="suspect.otherDistinguishFeatures" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>Was a weapon involved?</label>
                <select class="form-control" ng-model="suspect.weaponInvolved">
    
                                        <option value="">Select</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
            </div>
            <div class="col-sm-12 col-md-4" ng-if="suspect.weaponInvolved == 'Y'">
                <label>Weapon Involved</label>
                <select class="form-control" ng-options="weaponType.id as weaponType.description for weaponType in weaponType" ng-model="suspect.weaponType.id" ng-disabled="!suspect.weaponInvolved" />


            </div>
            <div class="col-sm-12 col-md-4" ng-if="suspect.weaponType.id=='OTHER'">
                <label>Specify If others</label>
                <input class="form-control" name="" type="text" ng-model="suspect.weaponType.description">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a class="btn btn-primary" ng-click="addSuspect()">Add Suspect</a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Existing Suspect</a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Add Employee Suspect</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Existing Suspect</label>
                <input class="form-control" placeholder="Type user name" ng-model="existing" ng-change="suspectLookup(existing)" ng-model-options="{debounce:1000}"
                    uib-typeahead="userIn.fullName as userIn.fullName for userIn in suspectData" />
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Employee Suspect</label>
                <input class="form-control" placeholder="Type user name" ng-model="employee" ng-change="userLookup(employee)" ng-model-options="{debounce:1000}"
                    uib-typeahead="userIn.fullName as userIn.fullName for userIn in userInfo" />
            </div>
        </div> -->
        <div class="table-wrapper inline" ng-if="incidentDetails.newSuspects.length > 0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>County</th>
                        <th>Postcode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="suspect in incidentDetails.newSuspects">
                        <td>{{suspect.firstName}} {{suspect.LastName}}</td>
                        <td>{{suspect.age}}</td>
                        <td>{{suspect.genderType.id}}</td>
                        <td>{{suspect.addresses[0].organizationName}}</td>
                        <td>{{suspect.addresses[0].city}}</td>
                        <td>{{suspect.addresses[0].county}}</td>
                        <td>{{suspect.addresses[0].postcode}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>Reported Loss</label>
                <select class="form-control" ng-options="lossType.id as lossType.description for lossType in lossType" ng-model="loss.lossType.id">
                        <option value="" selected>---Select---</option>
                        </select>
            </div>
            <div class="col-sm-12 col-md-4" ng-if="loss.lossType.id=='OTHER'">
                <label>Reported Loss If Others</label>
                <input class="form-control" type="text" ng-model="loss.lossType.description">
            </div>
            <div class="col-sm-12 col-md-4">
                <label>Reported Loss Value</label>
                <input class="form-control" placeholder="£ 000.00" type="text" ng-model="loss.lossValue">
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Any External Agency Contacted</label>
                <select class="form-control" ng-model="loss.externalAgencyContacted">
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
            </div>
            <div class="col-sm-12 col-md-6">
                <label>External Agency Type</label>
                <select class="form-control" ng-options="agencies.id as agencies.description for agencies in agencies" ng-model="loss.externalAgency.id">
                        <option value="" selected>--Select--</option>
                        </select>
            </div>
        </div>

        <div class="row" data-id="Police" ng-if="loss.externalAgency.id=='POLICE'">
            <div class="col-sm-12 col-md-6">
                <label>Date Police Called</label>
                <div class='input-group date' data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input type='text' class="form-control" ng-model="loss.dateTimeContacted" />
                    <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div> <label>Time Police Called</label></div>
                <input class="form-control small-control" type="text" placeholder="HH" ng-model="loss.timeHrsContacted">:
                <input class="form-control  small-control" type="text" placeholder="MM" ng-model="loss.timeMinContacted">
            </div>
        </div>

        <div class="row" data-id="Ambulance" ng-if="loss.externalAgency.id=='AMBULANCE'">
            <div class="col-sm-12 col-md-6">
                <label>Date Ambulance Called</label>
                <div class='input-group date' data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 time">
                <div><label>Time Ambulance Called</label></div>
                <input class="form-control small-control" type="text" placeholder="HH" ng-model="loss.timeHrsContacted">:
                <input class="form-control  small-control" type="text" placeholder="MM" ng-model="loss.timeMinContacted">
            </div>
        </div>
        <div class="row" data-id="Fire" ng-if="loss.externalAgency.id=='FIRE'">
            <div class="col-sm-12 col-md-6">
                <label>Date Fire Station Called </label>
                <div class='input-group date' data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 time">
                <div><label>Time Fire Station Called</label></div>
                <input class="form-control small-control" type="text" placeholder="HH" ng-model="loss.timeHrsContacted">:
                <input class="form-control  small-control" type="text" placeholder="MM" ng-model="loss.timeMinContacted">
            </div>
        </div>
        <div class="row" data-id="Fire" ng-if="loss.externalAgency.id=='OTHER'">
            <div class="col-sm-12 col-md-6">
                <label>Date Other Agency Called </label>
                <div class='input-group date' data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 time">
                <div><label>Time FOther Agency Called</label></div>
                <input class="form-control small-control" type="text" placeholder="HH" ng-model="loss.timeHrsContacted">:
                <input class="form-control  small-control" type="text" placeholder="MM" ng-model="loss.timeMinContacted">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Incident Reference Number</label>
                <input class="form-control" type="text" ng-model="incident.incidentId">
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Damage Cost Estimation</label>
                <input class="form-control" placeholder="£ 000.00" type="text" ng-model="loss.costEstimation">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" type="button" ng-click="addLoss()">Add Loss</button>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Continue</button>
                <button type="button" class="btn" ng-click="submitForm('incidentDetailsForm',true)">Back</button>
            </div>
        </div>


    </form>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Existing suspect Lookup</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <label>Existing Suspect</label>
                        <div class="input-group">
                            <input class="form-control" ng-change="suspectLookup(existing)" placeholder="Type user name" ng-model="existing" ng-model-options="{'debounce':500}" />

                            <span class="input-group-addon" ng-click="suspectLookup(existing)">
                        <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Email</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="person in suspectData">
                                <td><input type="checkbox" class="checkbox checkbox-primary" ng-model="person.selected" ng-click="addExistingSuspect(person)" /></td>
                                <td>{{person.firstName}} {{person.LastName}}</td>
                                <td>{{person.age}}</td>
                                <td>{{person.genderTypeCode}}</td>
                                <td>{{person.phone}}</td>
                                <td>{{person.email}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class=" modal-footer ">


                <a class="btn btn-danger" class="close " data-dismiss="modal">Close</a>
            </div>
        </div>

    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Employee suspect Lookup</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <label>Employee Suspect</label>
                        <div class="input-group">
                            <input class="form-control" ng-change="userLookup(employee)" placeholder="Type user name" ng-model="employee" ng-model-options="{'debounce':500}" />
                            <span class="input-group-addon" ng-click="userLookup(employee)">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Mail</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="person in userInfo">
                                <td><input type="checkbox" class="checkbox checkbox-primary" ng-model="person.selected" ng-click="addEmployeeSuspect(person)" />
                                </td>
                                <td>{{person.firstName}} {{person.LastName}}</td>
                                <td>{{person.age}}</td>
                                <td>{{person.genderTypeCode}}</td>
                                <td>{{person.phone}}</td>
                                <td>{{person.email}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class=" modal-footer ">


                <a class="btn btn-danger " class="close " data-dismiss="modal">Close</a>
            </div>
        </div>

    </div>
</div>