<div class="form-content" ng-show="activeTab.tab==2">
    <h2>Incident Details</h2>
    <form ng-submit="submitForm('incidentDetailsForm')">   
     <div ng-if="logIncidentDetails.accidentDamage || logIncidentDetails.vehicleOrAssetDamage  || logIncidentDetails.criminalAttack">
            <h3 class="form-title">Suspect</h3>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label>Suspect Type</label>
                    <select class="form-control" ng-options="suspectType.id as suspectType.description for suspectType in suspectType" ng-model="suspect.suspectType.id">
                        <option value=""></option>
                    </select>

                </div>
                <div class="col-sm-12 col-md-6">

                    <label>Suspect Type If Other</label>
                    <input name="" class="form-control" ng-disabled="suspect.suspectType.id !='OTHER'" type="text" placeholder="If Suspect Others"
                        ng-model="suspect.suspectTypeOther">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <label>Title:</label>
                    <select class="form-control" ng-model="suspect.title">
                        <option value=""></option>
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Ms</option>
                        <option>Miss</option>
                        <option>Master</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-12">
                    <label>First Name:</label>
                    <input class="form-control" type="text" ng-model="suspect.firstName">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label>Middle Name:</label>
                    <input class="form-control" type="text" ng-model="suspect.middleName">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label>Last Name:</label>
                    <input class="form-control" type="text" ng-model="suspect.lastName">
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label>Address</label>
                    <input name="" class="form-control" type="text" ng-model="suspect.addresses[0].organizationName">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label>Building</label>
                    <input name="" class="form-control" type="text" ng-model="suspect.addresses[0].buildingName">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label>Street</label>
                    <input name="" class="form-control" type="text" ng-model="suspect.addresses[0].streetName">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label>Locality </label>
                    <input class="form-control" type="text" ng-model="suspect.addresses[0].localityName">
                </div>

                <div class="col-sm-12 col-md-6">
                    <label> Post Town</label>
                    <input class="form-control" type="text" ng-model="suspect.addresses[0].postTown">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label>City</label>
                    <input class="form-control" type="text" ng-model="suspect.addresses[0].city">
                </div>

                <div class="col-sm-12 col-md-4">
                    <label>County</label>
                    <input class="form-control" type="text" ng-model="suspect.addresses[0].county">
                </div>

                <div class="col-sm-12 col-md-4">
                    <label>Country</label>
                    <input class="form-control" type="text" ng-model="suspect.addresses[0].country">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 ">
                    <label>Postal Code</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="suspect.addresses[0].postcode">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6">
                    <label>Phone</label>
                    <input class="form-control" type="text" ng-model="suspect.phone">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label>Age</label>
                    <input class="form-control" type="text" ng-model="suspect.age" />
                </div>

                <div class="col-sm-12 col-md-6">
                    <div>
                        <label>Gender</label>
                    </div>
                    <select class="form-control" ng-options="genderType.id as genderType.description for genderType in genderType" ng-model="suspect.genderType.id">
                        <option value=""></option>
                    </select>
                    <!--<input name="gender" type="radio"> <span>Male</span>
                <input name="gender" type="radio"> <span>Female</span>-->
                </div>
                <!-- <div class="col-sm-12 col-md-4">
                    <label>Gender Other</label>
                    <input class="form-control" type="text" ng-disabled="suspect.genderType.id !='OTHER'" ng-model="suspect.genderTypeOther" />

                </div> -->
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <label>Distinguishing Features</label>
                    <select class="form-control" multiple ng-model="suspect.distinguishingFeature" ng-options=" distinguishFeature.description for distinguishFeature in distinguishFeatures  track by distinguishFeature.id"
                        ng-change="getDistinguishFeaturesDetails(suspect.distinguishingFeature)">

                    </select>
                </div>
                <div class="col-md-3 col-sm-12">
                    <label>Distinguishing Features Details</label>
                    <select multiple class="form-control" ng-disabled="!suspect.distinguishingFeature" ng-model="suspect.distinguishingFeatureDetail"
                        ng-options=" distinguishFeature.description for distinguishFeature in distinguishFeaturesDetails track by distinguishFeature.id">
                    </select>
                </div>
                <div class="col-md-2 col-sm-12 text-center move-buttons">
                    <button ng-click="addFeatureToSelectedList(suspect)" title="Move to right" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                    <button ng-disabled="suspect.distinguishingFeaturesOptions && suspect.distinguishingFeaturesOptions.length == 0" ng-click="removeFeatureToSelectedList(suspect)"
                        title="Move to left" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </div>
                <div class="col-md-4 col-sm-12">
                    <label>Selected Distinguishing Features</label>
                    <select multiple class="form-control" ng-model="suspect.distinguishingFeatureDetails" ng-options="distinguishFeature.description for distinguishFeature in suspect.distinguishingFeaturesOptions">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label>Was a weapon involved?</label>
                    <select class="form-control" ng-model="suspect.weaponInvolved">
                        <option value=""></option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-4" ng-if="suspect.weaponInvolved == 'Y'">
                    <label>Weapon Involved</label>
                    <select class="form-control" ng-options="weaponType.id as weaponType.description for weaponType in weaponType" ng-model="suspect.weaponType.id"
                        ng-disabled="!suspect.weaponInvolved">
                        <option value=""></option>
                    </select>


                </div>
                <div class="col-sm-12 col-md-4">

                    <label>Specify If others</label>
                    <input class="form-control" ng-disabled="suspect.weaponType.id !='OTHER'" name="" type="text" ng-model="suspect.weaponTypeOther">

                </div>
            </div>
            <div class="row" ng-if="logIncidentDetails.incidentStatus != 'CLOSED'">
                <div class="col-sm-12 col-md-4" ng-if="!editsuspect">
                    <a class="btn btn-primary" ng-click="addSuspect()">Add Suspect</a>
                </div>
                <div class="col-sm-12 col-md-4" ng-if="editsuspect">
                    <a class="btn btn-success" ng-click="updateSuspect(suspect)">Update Suspect</a>
                </div>
                <div class="col-sm-12 col-md-4" ng-if="loggedInUser.roles[0] == 'INVESTIGATOR' || 
               loggedInUser.roles[0] == 'CLAIMS_HANDLER' || isAdminRole">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Existing Suspect</a>
                </div>
                <div class="col-sm-12 col-md-4" ng-if="loggedInUser.roles[0] == 'INVESTIGATOR' || 
               loggedInUser.roles[0] == 'CLAIMS_HANDLER' || isAdminRole">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#myModal1" ng-click="clearUser()">Add Suspect Employee</a>
                </div>
            </div>
            <!-- <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Existing Suspect</label>
                <input class="form-control" placeholder="Type user name" ng-model="existing" ng-change="suspectLookup(existing)" ng-model-options="{debounce:1000}"
                    uib-typeahead="userIn.fullName as userIn.fullName for userIn in suspectData" />
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Employee Suspect</label>
                <input class="form-control" placeholder="Type user name" ng-model="employee" ng-change="userLookup(employee)" ng-model-options="{debounce:1000}"
                    uib-typeahead="userIn.fullName as userIn.fullName for userIn in userInfo" />
            </div>
        </div> -->
            <div class="table-wrapper inline" ng-if="suspects.length > 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>County</th>
                            <th>Postcode</th>
                            <th ng-if="logIncidentDetails.incidentStatus != 'CLOSED'">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="suspect in suspects">
                            <td>{{suspect.firstName}} {{suspect.LastName}}</td>
                            <td>{{suspect.age}}</td>
                            <td>{{suspect.genderType.id}}</td>
                            <td>{{suspect.addresses[0].organizationName}}</td>
                            <td>{{suspect.addresses[0].city}}</td>
                            <td>{{suspect.addresses[0].county}}</td>
                            <td>{{suspect.addresses[0].postcode}}</td>
                            <td ng-if="logIncidentDetails.incidentStatus != 'CLOSED'">
                                <a ng-click="deleteSuspect(suspect)" ng-if="suspect.suspectCategory == 'NON-EMPLOYEE'">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a> &nbsp;&nbsp;&nbsp;
                                <a ng-click="loadSuspect(suspect)" ng-if="suspect.suspectCategory == 'NON-EMPLOYEE'">

                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>Reported Loss</label>
                <select class="form-control" ng-options="lossType.id as lossType.description for lossType in lossType" ng-model="loss.lossType.id">

                    <option value="" selected>---Select---</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">

                <label>Reported Loss If Others</label>
                <input class="form-control" ng-disabled="loss.lossType.id !='OTHER'" type="text" ng-model="loss.lossTypeOther">
            </div>
            <div class="col-sm-12 col-md-4">

                <label>Reported Loss Value</label>
                <p class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-gbp"></span>
                    </span>
                    <input class="form-control" blur-to-currency amount="loss.lossValue" placeholder="0.00" type="text" ng-model="loss.lossValue">
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>Any External Agency Contacted</label>
                <select class="form-control" ng-model="loss.externalAgencyContacted" ng-click="triggerExternalAgency()">
                    <option value=""></option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label>External Agency Type</label>
                <select class="form-control" ng-options="agencies.id as agencies.description for agencies in agencies" ng-model="loss.externalAgency.id"
                    ng-disabled="loss.externalAgencyContacted != 'Y'">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">

                <label>External Agency Type If Other</label>
                <input name="" class="form-control" ng-disabled="loss.externalAgency.id !='OTHER' || loss.externalAgencyContacted != 'Y'"
                    type="text" placeholder="If external agency Others" ng-model="loss.externalAgencyTypeOther">
            </div>

        </div>

        <div class="row" data-id="Police">
            <div class="col-sm-12 col-md-6">
                <label>Date External Agency Called</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="loss.date" ng-focus="calendar.open($event,'date')"
                        is-open="calendar.opened.date" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                        ng-disabled="loss.externalAgencyContacted != 'Y'" />
                    <span class="input-group-addon" ng-click="calendar.open($event,'date')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </p>

            </div>
            <div class="col-sm-12 col-md-6">
                <div>
                    <label>Time External Agency Called</label>
                </div>
                <input class="form-control small-control" type="text" placeholder="HH" ng-model="loss.timeHrsContacted" ng-disabled="loss.externalAgencyContacted != 'Y'">:
                <input class="form-control  small-control" type="text" placeholder="MM" ng-model="loss.timeMinContacted" ng-disabled="loss.externalAgencyContacted != 'Y'">
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Incident Reference Number</label>
                <input class="form-control" type="text" ng-model="incident.uniqueIncidentId" readonly>
            </div>
            <div class="col-sm-12 col-md-6">
                <label>Damage Cost Estimation</label>
                <p class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-gbp"></span>
                    </span>
                    <input class="form-control" blur-to-currency amount="loss.costEstimation" placeholder="0.00" type="text" ng-model="loss.costEstimation">
                </p>

            </div>

        </div>
        <div class="row" ng-if="logIncidentDetails.incidentStatus != 'CLOSED'">
            <div class="col-sm-12">
                <button class="btn btn-primary" ng-click="addLoss(loss)" ng-if="!editLoss">Add Loss</button>
            </div>
            <div class="col-sm-12 col-md-4" ng-if="editLoss">
                <a class="btn btn-success" ng-click="updateLoss(loss)">Update Loss</a>
            </div>
        </div>
        <div class="table-wrapper inline" ng-if="incidentDetails.reportedLosses.length > 0">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Loss Type</th>
                        <th>Loss Value</th>
                        <th>Date External Agency Called</th>
                        <th>Time External Agency Called</th>
                        <th ng-if="logIncidentDetails.incidentStatus != 'CLOSED'">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="loss in incidentDetails.reportedLosses">

                        <td>{{loss.lossType.id}}</td>
                        <td>{{loss.lossValue}}</td>
                        <td>{{loss.date}}</td>
                        <td>{{loss.timeHrsContacted}}<span ng-if="loss.timeHrsContacted">:</span>{{loss.timeMinContacted}}</td>
                        <td ng-if="logIncidentDetails.incidentStatus != 'CLOSED'">
                            <a ng-click="deleteLoss(loss)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a ng-click="loadLoss(loss)">

                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row ">
            <div class="col-md-6 col-sm-12" ng-if="logIncidentDetails.incidentStatus != 'CLOSED'">
                <!-- <button type="submit" class="btn btn-info" ng-click="activeTab.formAction='save'">Save</button> -->
                <button type="submit" class="btn btn-primary" ng-click="activeTab.formAction='saveContinue'">Continue</button>
            </div>

            <div class="col-md-6 col-sm-12 floatRight">
                <button type="button" ng-click="submitForm('incidentDetailsForm','back')" class="btn btn-secondary pull-right">Back</button>
                <button type="button" ng-click="submitForm('incidentDetailsForm','next')" class="btn btn-success pull-right" style="margin-right:5px">Next</button>
            </div>
        </div>


    </form>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Existing suspect Lookup</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <label>Existing Suspect</label>
                        <div class="input-group">
                            <input class="form-control" ng-change="suspectLookup(existing)" placeholder="Type user name" ng-model="existing" ng-model-options="{'debounce':500}"
                            />

                            <span class="input-group-addon" ng-click="suspectLookup(existing)">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Email</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="person in suspectData">
                                <td>
                                    <input type="checkbox" class="checkbox checkbox-primary" ng-model="person.selected" ng-click="addExistingSuspect(person)"
                                    />
                                </td>
                                <td>{{person.firstName}} {{person.LastName}}</td>
                                <td>{{person.age}}</td>
                                <td>{{person.genderTypeCode}}</td>
                                <td>{{person.phone}}</td>
                                <td>{{person.email}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class=" modal-footer ">


                <a class="btn btn-danger" class="close " data-dismiss="modal">Close</a>
            </div>
        </div>

    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Employee suspect Lookup</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <label>Employee Suspect</label>
                        <div class="input-group">
                            <input class="form-control" ng-change="userLookup(employee)" placeholder="Type user name" ng-model="employee" ng-model-options="{'debounce':500}"
                            />
                            <span class="input-group-addon" ng-click="userLookup(employee)">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Mail</th>

                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr ng-repeat="person in employeeUser" ng-if="person.firstName != ''">
                                <td>
                                    <input type="checkbox" class="checkbox checkbox-primary" ng-model="person.selected" ng-click="addEmployeeSuspect(person)"
                                    />
                                </td>
                                <td>{{person.firstName}} {{person.LastName}}</td>
                                <td>{{person.age}}</td>
                                <td>{{person.genderTypeCode}}</td>
                                <td>{{person.phone}}</td>
                                <td>{{person.email}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class=" modal-footer ">


                <a class="btn btn-danger " class="close " data-dismiss="modal">Close</a>
            </div>
        </div>

    </div>
</div>