<div class="row top-summary">
    <div class="col-md-3">
        <div class="row top-summary-item">
            <a href="#">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-dashboard"></i>
                </div>
                <div class="col-md-9">
                    <div class="big-text">200</div>
                    <div class="">Total Incidents</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row top-summary-item">
            <a href="#">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </div>
                <div class="col-md-9">
                    <div class="big-text">78</div>
                    <div class="">Open Incidents</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row top-summary-item">
            <a href="#">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-adjust"></i>
                </div>
                <div class="col-md-9">
                    <div class="big-text">32</div>
                    <div class="">In Progress Incidents</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row top-summary-item">
            <a href="#">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-eye-close"></i>
                </div>
                <div class="col-md-9">
                    <div class="big-text">90</div>
                    <div class="">Closed Incidents</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="tabs">
            <li class="active">Total Incident Volume</li>
            <li>Incidents Grouped By Type</li>
            <li>Incident Grouped By Event Types</li>
        </ul>
        <div class="tab-content">
            <div class="section visible">
                <div class="section-header">
                    <div class="pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Last 6 Months
							<span class="caret"></span>
						</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Last 1 Month</a></li>
                            <li><a href="#">Last 3 Months</a></li>
                            <li><a href="#">Last 6 Months</a></li>
                            <li><a href="#">Last 1 Year</a></li>
                        </ul>
                    </div>
                    <h3>Total Incident Volume</h3>
                </div>
                <div class="section-content chart" id="TotalIncidentVolume">

                    1. Trend (line) chart to show the total incident volume for the last 6 months.

                </div>
            </div>

            <div class="section">
                <div class="section-header">
                    <div class="pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Last 6 Months
							<span class="caret"></span>
						</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#">Last 1 Month</a></li>
                            <li><a href="#">Last 3 Months</a></li>
                            <li><a href="#">Last 6 Months</a></li>
                            <li><a href="#">Last 1 Year</a></li>
                        </ul>
                    </div>
                    <h3>Incidents Grouped By Type</h3>
                </div>
                <div class="section-content chart" id="IncidentGroupedByType">
                    2. Bar chart showing no. of incidents grouped by type. (last one year/12 months)
                </div>
            </div>

            <div class="section">
                <div class="section-header">
                    <div class="pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Last 6 Months
							<span class="caret"></span>
						</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <li><a href="#">Last 1 Month</a></li>
                            <li><a href="#">Last 3 Months</a></li>
                            <li><a href="#">Last 6 Months</a></li>
                            <li><a href="#">Last 1 Year</a></li>
                        </ul>
                    </div>
                    <h3>Incident Grouped By Event Types</h3>
                </div>
                <div class="section-content chart" id="IncidentGroupedByEvents">
                    3. Bar chart showing no. of incidents grouped by event type. (last one year/12 months)
                </div>
            </div>
        </div>
    </div>

</div>