<div class="col-sm-6">
    <h2 class="logo">
        <a href="#"><img src="../../assets/images/logo@1x.png" alt="gotorisk.co.uk" /></a>
    </h2>
</div>
<div class="col-sm-6">
    <h3 class="welcome">Welcome {{loggedInUser.firstName}} {{loggedInUser.lastName==null?"":loggedInUser.lastName}}</h3>
    <div class="user-details">

        <span class="user-circle">
                <i class="glyphicon glyphicon-user"></i>
            </span> Logged in as <a href="" id="user">{{loggedInUser.roles[0]}}</a> | <a ng-click="logOut()" style="cursor:pointer">LogOut</a>
    </div>
</div>