<div class="incidents" ng-controller="incidentsController">
    <div class="pull-right advanced-search">
        <a class="btn btn-primary" id="btnAdvanceSearch">Advanced Search</a>
    </div>
    <div class="pull-right searchbox">
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Filter">
            <span class="input-group-addon">
                <button>
                    <span class="glyphicon glyphicon-filter"></span>
            </button>
            </span>
        </div>
    </div>
    <h3>
        Incidents |
        <a class="btn btn-primary add-incident" href="templates/add_incident_1.html"> <i class="glyphicon glyphicon-plus menu-icon"></i>Add</a>
        <a class="btn btn-success edit-incident" href="#"> <i class="glyphicon glyphicon-pencil menu-icon"></i>Edit</a>
        <a class="btn btn-danger delete-incident" href="#"> <i class="glyphicon glyphicon-trash menu-icon"></i>Delete</a>
    </h3>

</div>

<div class="advanced-search-panel hide">
    <h4>Advanced Search Options</h4>
    <div class="row">
        <div class="cell-md">
            <label>Incident ID</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Raised by</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Injured Person</label>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="cell-md">
            <label>Organisation</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Investigator</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Department</label>
            <input type="text" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="cell-md">
            <label>Location</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Claim No.</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Policy No.</label>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="cell-md">
            <label>Claim Status</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Claimant Name</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Claim Settled Date</label>
            <input type="text" class="form-control" />
        </div>
        <div class="cell-md">
            <label>Claim Approved By</label>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="action-buttons">
        <a class="btn btn-primary">Search</a>
        <a class="btn btn-secondary">Clear</a>
    </div>
</div>


<!--- Apply pagination, sorting and filters for this table.

- Advanced search link to be provided above this table for advanced search criteria." -->

<table class="table table-bordered incident-list">
    <thead>
        <tr>
            <th><input type="checkbox" class="checkbox checkbox-primary" /> All</th>
            <th>Incident ID
                <!--(Unique, auto generated by system)-->
            </th>
            <th>Raised By
                <!--(Last Name, First Name)-->
            </th>
            <th>Reported By
                <!--(Last Name, First Name)-->
            </th>
            <th>Suspect
                <!--(Last Name, First Name)-->
            </th>
            <th>Status</th>
            <th>Organization</th>
            <th>Department</th>
            <th>Position</th>
            <th>Date Opened</th>
            <th>Date Closed
                <!--(If any)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="incident in data">
            <td>
                <input type="checkbox" class="checkbox checkbox-primary" name="">
            </td>
        </tr>-->
        <tr>
            <td><input type="checkbox" class="checkbox checkbox-primary" name=""></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO123</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO223</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO153</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO153</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO153</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO153</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO153</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO153</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
        <tr>
            <td><input type="checkbox" name="" class="checkbox checkbox-primary"></td>
            <td><a href="templates/incident_details.html" class="incident_id">ACOO153</a></td>
            <td>John K</td>
            <td>Daniel J</td>
            <td>Dev Kapil</td>
            <td>In Progress</td>
            <td>KPL</td>
            <td>Operations</td>
            <td>HR</td>
            <td>18th Jan, 2017</td>
            <td></td>

        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <select class="form-control">
		<option>10</option>
		<option>25</option>
		<option>50</option>
		<option>100</option>
	</select>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

    <span>1 - 10 of 2451</span>
</nav>