<ul>
    <li ng-class="{active:thisView=='incidents'}">
        <a href="#/incidents" title="">
            <i class="glyphicon glyphicon-time menu-icon"></i> Incidents
        </a>
    </li>
    <li ng-class="{active:thisView=='claims'}">
        <a href="#/claims" title="">
            <i class="glyphicon glyphicon-gift menu-icon"></i> Claims
        </a>
    </li>
    <li ng-class="{active:thisView=='investigations'}">
        <a href="#/investigations" title="">

            <i class="glyphicon glyphicon-search menu-icon"></i> Investigations
        </a>
    </li>
    <li>

        <a data-toggle="collapse" data-target="#submenu-1" title="" >
            <i class="glyphicon glyphicon-user menu-icon"></i> User Administration
            <i class="glyphicon glyphicon-menu-right pull-right"></i>
        </a>

        <ul id="submenu-1" class="collapse">
            <li ng-class="{active:thisView=='user'}">
                <a href="#/users" title="">
                    User
                </a>
            </li>
            <li ng-class="{active:thisView=='roles'}">
                <a href="#/roles" title="">
                    Roles
                </a>
            </li>
        </ul>
    </li>



</ul>